<nav class="navbar sticky-top  navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="#">
    <img src="/assets/img/logo.png" width="180" height="120" class="d-inline-block align-top" alt="">
  </a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"> Accueil </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Recherche</a>
      </li>
    </ul>
  </div>


</nav>

<hr />


<div class="container">

  <annonce-liste>

  </annonce-liste>

</div>